/*dl*/.c-list--attributes {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  font-size: font-unit('micro');

  /*dt*/.c-list__term,
  /*dd*/.c-list__definition {
    flex-grow: 1;
    flex-shrink: 0;
  }

  /*dt*/.c-list__term {
    flex-basis: percentage(1/3);
    flex-grow: 1;
    font-weight: map-get($font-weights, 'medium');
    min-width: map-get($width-units, '1');
    padding-right: map-get($spacing-units, '5');
  }

  /*dd*/.c-list__definition {
    flex-basis: percentage(2/3);
  }
}

/*ol*/.c-list--contents {
  font-size: font-unit('micro');
  padding-left: 2em;
}

/*ul*/.c-list--questions {
  @extend %stack;
  --gutter-width: #{map-get($spacing-units, '2')};
  font-size: font-unit('small');
  margin-top: map-get($spacing-units, '5');
  padding-left: 2em;

  @include media-query('min:100') {
    &:first-of-type {
      position: relative;

      &:before {
        background: url('../img/illustrations/root.png') no-repeat right 50%;
        background-size: contain;
        content: '';
        display: block;
        height: map-get($width-units, '3');
        margin-right: map-get($spacing-units, '6');
        position: absolute;
        right: 100%;
        top: 0;
        transform: translate(0, -25%);
        width: map-get($width-units, '2');
      }
    }
  }
}

/*ul*/.c-list--recipients {
  @extend %cluster;
  --gutter-width: #{map-get($spacing-units, '2')};
  list-style: none;
}
