.c-mailer {
  background-color: map-get($colors, 'white');
  border: 2px solid currentColor;
  color: map-get($colors, 'black');
  display: flex;
  margin: map-get($width-units, '2') auto 0;
  max-width: map-get($width-units, '7');
  position: relative;
  text-align: left;

  &:before {
    background: url('../img/illustrations/letters.png') no-repeat 50% bottom;
    background-size: contain;
    bottom: 100%;
    content: '';
    display: block;
    height: map-get($width-units, '3');
    left: 50%;
    max-width: map-get($width-units, '5');
    position: absolute;
    transform: translate(-50%, 0);
    width: 100%;

    @include media-query('max:040') {
      background-size: cover;
    }
  }

  @include feature-query('grid') {
    display: grid;
    grid-template-columns: repeat(var(--grid-column-count, 12), minmax(0, 1fr));
  }

  @include media-query('max:060') {
    --grid-column-count: 1;
    flex-flow: column nowrap;
    grid-template-areas: 'a' 'b' 'c';
  }

  @include media-query('min:060') {
    --grid-column-count: 5;
    flex-flow: row wrap;
    grid-template-areas:
      'a a c c c'
      'b b c c c';
    grid-template-rows: auto 1fr;
  }
}

.c-mailer__filters,
.c-mailer__form {
  padding: map-get($spacing-units, '5');
}

.c-mailer__filters {
  background-color: map-get($colors, 'black');
  border-bottom: 2px solid transparent;
  color: map-get($colors, 'white');

  @include feature-query('grid') {
    grid-area: a;
  }

  @include media-query('min:060') {
    flex-basis: 100%;
  }
}

.c-mailer__form {
  @include feature-query('grid') {
    grid-area: c;
  }

  @include media-query('min:060') {
    border-left: 2px solid currentColor;
    padding: map-get($spacing-units, '6');
  }
}

.c-mailer__recipients {
  background-color: map-get($colors, 'grey-pale');

  @include feature-query('grid') {
    grid-area: b;
  }

  @include media-query('max:060') {
    border-bottom: 2px solid currentColor;
  }

  @include media-query('min:060') {
    flex-basis: 40%;
  }
}

.c-mailer__recipients__viewport {
  height: 100%;
  overflow: auto;

  @include media-query('max:060') {
    max-height: 40vh;
  }

  @include media-query('min:060') {
    max-height: 90vh;
  }
}
